<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if sidebar.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:{{ sidebar.email }}">{{ sidebar.email }}</a>
    </li>
    {% endif %}

    {% if sidebar.location %}
    <li class="location"><i class="fas fa-location-dot"></i>
      <span>{{ sidebar.location }}</span>
    </li>
    {% endif %}

    {% if sidebar.website %}
    <li class="website"><i class="fas fa-globe"></i>
      <a href="https://{{ sidebar.website }}" target="_blank" rel="noreferrer noopener">{{ sidebar.website }}</a>
    </li>
    {% endif %}

    {% if sidebar.google_scholar %}
    <li class="scholar"><i class="fas fa-graduation-cap"></i>
      <a href="{{ sidebar.google_scholar }}" target="_blank" rel="noreferrer noopener">Google Scholar</a>
    </li>
    {% endif %}

    {% if sidebar.orcid %}
    <li class="orcid"><i class="fas fa-id-badge"></i>
      <a href="{{ sidebar.orcid }}" target="_blank" rel="noreferrer noopener">ORCID Profile</a>
    </li>
    {% endif %}

    {% if sidebar.github %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="https://github.com/{{ sidebar.github }}" target="_blank" rel="noreferrer noopener">{{ sidebar.github }}</a>
    </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->
