{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section" id="publications">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for publication in publications.papers %}
  <div class="item reveal">
    <div class="publication-card">
      <div class="publication-header">
        {% if publication.tag %}
        <span class="publication-badge">{{ publication.tag }}</span>
        {% endif %}
      </div>
      <div class="publication-title">
        {% if publication.link %}
          <a href="{{ publication.link }}" target="_blank" rel="noreferrer noopener">{{ publication.title }}</a>
        {% else %}
          {{ publication.title }}
        {% endif %}
      </div>
      <div class="publication-authors">{{ publication.authors }}</div>
      <div class="publication-conference">{{ publication.conference }}</div>
    </div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
