{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">
  <div class="sidebar-glow"></div>

  <div class="profile-container">

    {% if sidebar.avatar %}
    <img class="avatar" src="{{ '/assets/images/' | append: sidebar.avatar | relative_url }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}
  {% include sidebar-nav.html %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% include language.html %}
  {% if sidebar.focus %}
  <div class="focus-container container-block">
    <h2 class="container-block-title">{{ sidebar.focus.title }}</h2>
    <ul class="list-unstyled focus-list">
      {% for item in sidebar.focus.info %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% include interests.html %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
